@page 
@model self_promo_dawson.Pages.Admin.Index.IndexModel

    <nav>
        <li> <a href="~/Pages/Admin/Experiences">Experiences</a> </li>
        <li> <a href="~/Pages/Admin/Responsibilities">Responsibilites</a> </li>
    </nav>
