@page
@model EducationModel
@{ViewData["Title"] = "Education";}


<div class="text-center">
  <main>
    <div class="school">
    <a href="https://www.gatech.edu/" target="_blank"> 
    <img src=~/images/gt_logo.jpg alt="GT logo" width=100 height=76>
    <h3> Georgia Institute of Technology </h3> 
    </a>
    <div class="details">
    <b>Location: </b> Atlanta, GA <br>
    <b>Years Attended: </b> 2024 - Ongoing <br>
    <b>Degree: </b> Computer Science <br>
    </div>
    
    <h4> Honors, Awards and Accomplishments </h4>
    <ul>
      <li> Dean's List </li>
    </ul>
    </div>

    <div class="school">
    <a href="https://www.augusta.edu/" target="_blank"> 
    <img src=~/images/aug_uni_logo.jpg alt="AU logo" width=100 height=76>
    <h3> Augusta University </h3> 
    </a>
    <div class="details">
    <b>Location: </b> Augusta, GA <br>
    <b>Years Attended: </b> 2019 - 2024 <br>
    <b>Degree: </b> Bachelor's in Computer Science <br>
    </div>
    
    <h4> Honors, Awards and Accomplishments </h4>
    <ul>
      <li> Dean's List </li>
      <li> Undergraduate Research Assistant </li>
    </ul>
    </div>
    
    <div class="school"> 
    <a href="https://briarwoodacademy.com/" target="_blank"> 
    <img src=~/images/briarwood_logo.jpg alt="BA logo" width=100 height=100>
    <h3> Briarwood Academy </h3> 
    </a>
    <div class="details"> 
    <b>Location: </b> Warrenton, GA <br>
    <b>Years Attended: </b> 2006 - 2019 <br>
    <b></b>
    </div>
    
    <h4> Honors, Awards and Accomplishments </h4>
    <ul>
      <li> Honor Graduate </li>
      <li> Team Captain </li> 
    </ul>
    </div>
    <br>
  </main>
</div>
