@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <main class="gallery">
    <figure> 
      <a href="~/images/photos/Grad.PNG"> 
        <img src="~/images/photos/grad_thumb.jpg" alt="High School Graduation"> 
      </a> 
      <figcaption>High School Graduation</figcaption> 
    </figure>
    
    <figure> 
      <a href="~/images/photos/Dad.jpg"> 
        <img src="~/images/photos/dad_thumb.jpg" alt="Me and my Dad"> 
      </a> 
      <figcaption>Me and my Dad</figcaption> 
    </figure>
    
    <figure> 
      <a href="~/images/photos/Sala.JPG"> 
        <img src="~/images/photos/sala_thumb.jpg" alt="Weekend Trip"> 
      </a> 
      <figcaption>Weekend Trip</figcaption> 
    </figure>
    
    <figure> 
      <a href="~/images/photos/Wedding.jpg"> 
        <img src="~/images/photos/wedding_thumb.jpg" alt="Family Wedding"> 
      </a> 
      <figcaption>Family Wedding</figcaption> 
    </figure>
    
    <figure> 
      <a href="~/images/photos/Freya.JPG"> 
        <img src="~/images/photos/freya_thumb.jpg" alt="Freya"> 
      </a> 
      <figcaption>My cat Freya</figcaption> 
    </figure>
    
    <figure> 
      <a href="~/images/photos/Tourney.PNG"> 
        <img src="~/images/photos/tourney_thumb.jpg" alt="BJJ Tournament"> 
      </a> 
      <figcaption>Jiu Jitsu Tournament</figcaption> 
    </figure>
    
    <figure> 
      <a href="~/images/photos/Hike.JPEG"> 
        <img src="~/images/photos/hike_thumb.jpg" alt="Tallulah Falls"> 
      </a> 
      <figcaption>Tallulah Falls</figcaption> 
      
    <figure> 
      <a href="~/images/photos/Zipline.JPG"> 
        <img src="~/images/photos/zipline_thumb.jpg" alt="Ziplining"> 
      </a> 
      <figcaption>Ziplining</figcaption> 
    </figure>
    </figure>
  </main>
</div>
