@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <main>
    <img src=~/images/Attachment.JPG alt="Portrait" width=200 height=250 class="non-mobile">
    <img src=~/wwwroot/images/Attachment.JPG alt="Portrait" width=200 height=250 class="mobile">

      <p>Welcome!</p>
      <p>
      My name is Dawson Jones and I'm a Data Scientist & Integration 
      Engineer at Queensborough Bank & Trust. I'm also purusing my
      Master's in Computer Science at Georgia Tech. I made this site as 
      a fun exercise to share some general information about my background 
      and occasionally hobbies. 
      </p>

  <h3>About Me</h3>
    
    <p>
      I grew up in the small town of Thomson, Georgia and received my undergrad in computer science at Augusta University.
      Some primary academic interests of mine are machine learning and cybersecurity and my hobbies outside of that include
      Brazilian Jiu Jitsu, reading and disc golf.
    </p>

  </main>
</div>
